:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 1rem;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--color-accent: #5e6481;
	--color-text-primary: #383838;
	--color-text-secondary: #aaaebf;
	--color-border: #e7e8ed;
	--color-background: #e2e3eb;
	--color-error-message: #9c2020;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

textarea {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}
